.root{
    background-color: cyan;
    height: 420px;
    width: 420px;
    display: flex;
    flex-wrap: wrap;
    border: solid #000 5px;
    margin: 0% auto;
}

 .valid ,.bomb {
     background-color:green;
     width: 40px;
     height: 40px;
     border: solid #000 1px;
    line-height:2.5em;
    text-align: center;
 }

.bttn{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
 .btn{
     background: blue;
     border-radius: 5px;
     margin:5px;
     padding: 10px;
 }

 .checked{
     background: #ccc;
 }
 h5{
 display: flex;
 justify-content: center;
 align-items: center;
 }
